* {
	font-family: 'Open Sans', Roboto, 'Helvetica Neue', Arial, Helvetica, sans-serif;
}

iframe {
	display: none;
}

.groupSelected {
	display: flex;
	align-items: center;
	gap: 6px;
	cursor: pointer;
	border: none;
	padding: 4px 6px;
	background-color: transparent;
	transition: background-color .3s;;
}

.groupSelected span {
	font-size: 16px;
}

.groupSelected svg {
	opacity: 0;
	transition: opacity .3s;
}

.groupSelected:hover {
	background-color: white;
}

.groupSelected:hover svg {
	opacity: 1;
}